# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

acorn
acorn.cmd
ansi-html
ansi-html.cmd
atob
atob.cmd
autoprefixer
autoprefixer.cmd
babylon
babylon.cmd
browserlist
browserlist.cmd
css-blank-pseudo
css-blank-pseudo.cmd
css-has-pseudo
css-has-pseudo.cmd
css-prefers-color-scheme
css-prefers-color-scheme.cmd
cssesc
cssesc.cmd
detect
detect.cmd
detect-port
detect-port.cmd
errno
errno.cmd
escodegen
escodegen.cmd
esgenerate
esgenerate.cmd
eslint
eslint.cmd
esparse
esparse.cmd
esvalidate
esvalidate.cmd
handlebars
handlebars.cmd
he
he.cmd
html-minifier
html-minifier.cmd
import-local-fixture
import-local-fixture.cmd
is-ci
is-ci.cmd
jest
jest.cmd
jest-runtime
jest-runtime.cmd
js-yaml
js-yaml.cmd
jsesc
jsesc.cmd
json5
json5.cmd
loose-envify
loose-envify.cmd
miller-rabin
miller-rabin.cmd
mime
mime.cmd
mkdirp
mkdirp.cmd
multicast-dns
multicast-dns.cmd
parser
parser.cmd
react-scripts
react-scripts.cmd
README.md
regexp-tree
regexp-tree.cmd
regjsparser
regjsparser.cmd
rimraf
rimraf.cmd
sane
sane.cmd
semver
semver.cmd
sha.js
sha.js.cmd
sshpk-conv
sshpk-conv.cmd
sshpk-sign
sshpk-sign.cmd
svgo
svgo.cmd
terser
terser.cmd
uglifyjs
uglifyjs.cmd
uuid
uuid.cmd
watch
watch.cmd
webpack
webpack.cmd
webpack-dev-server
webpack-dev-server.cmd
which
which.cmd
sshpk-verify
sshpk-verify.cmd
